/* Globals */
body {
    font-family: Roboto;
    text-align: center;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3rem;
    margin: 0;
}

h2 {
    font-size: 1.875rem;
    margin: 0;
}

a {
    color: white !important;
    text-decoration: none;
}

.flex {
    display: flex;
}

/* Fin Globals */
/* Navbar */
nav {
    background-color: #2563eb;
    color: white !important;
    font-size: 1.5rem;
    padding: 0 1rem;
}

nav,
nav .menu a {
    box-shadow: 0 0 7px black;
}

nav img {
    filter: drop-shadow(0 0 3px black);
}

nav img {
    width: 4rem;
    height: 4rem;
    padding: 0.3rem;
}

nav div {
    padding: 0 1rem;
    font-weight: 500;
}

nav p {
    margin: auto 1.5rem;
}

nav p a {
    background: #f97316;
    text-align: center;
    display: block;
    width: 132%;
    border-radius: 1rem;
}

nav p a:hover {
    color: #2563eb !important;
}

nav form .caja {
    position: absolute;
    right: 3rem;
}

nav form input.search {
    height: 2.1rem;
    margin: auto;
    display: block;
}

/* Fin Navbar */
/* Section */
section {
    min-height: 100vh;
    padding: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(18, minmax(0, 4rem));
    gap: 0.3rem;
    padding: 3rem;
}

/* Fin Section */
/* Tabla Periodica */
.noMetalesReactivos,
.metalesAlcalinos,
.metalesAlcalinoterreos,
.metalesTransicionales,
.metalesPostransicionales,
.metaloides,
.gasesNobles,
.propiedadesDesconocidas,
.lantanidos,
.actinoides {
    font-size: 1.5rem;
    width: 100%;
    height: 50%;
    padding: 0.9rem 0;
    border: 1px solid black;
    border-radius: 0.5rem;
    box-shadow: 0 0 3px black;
    position: relative;
    top: 0;
    left: 0;
    z-index: 3;
    transition:
        top 0.3s ease-in-out,
        left 0.3s ease-in-out,
        width 0.3s ease-in-out,
        height 0.3s ease-in-out;

    .numeroAtomico,
    .masaAtomica,
    .elemento {
        color: transparent;
        font-size: 0.5rem;
        position: absolute;
    }

    .numeroAtomico,
    .masaAtomica,
    .simbolo,
    .elemento {
        margin: auto;
    }
}

.noMetalesReactivos:hover,
.metalesAlcalinos:hover,
.metalesAlcalinoterreos:hover,
.metalesTransicionales:hover,
.metalesPostransicionales:hover,
.metaloides:hover,
.gasesNobles:hover,
.propiedadesDesconocidas:hover,
.lantanidos:hover,
.actinoides:hover {
    width: 317%;
    height: 267%;
    position: relative;
    top: -4rem;
    left: -4rem;
    z-index: 7;
    transition:
        top 0.3s ease-in-out 0.5s,
        left 0.3s ease-in-out 0.5s,
        width 0.3s ease-in-out 0.5s,
        height 0.3s ease-in-out 0.5s;

    .numeroAtomico,
    .masaAtomica,
    .simbolo,
    .elemento {
        color: white;
        line-height: 0;
        transition:
            font-size 0.3s ease-in-out 0.5s,
            color 0.3s ease-in-out 0.5s;
    }

    .numeroAtomico {
        font-size: 2rem;
        top: 12%;
        left: 6%;
    }

    .masaAtomica {
        font-size: 1.5rem;
        top: 12%;
        right: 6%;
    }

    .simbolo {
        font-size: 6rem;
        position: relative;
        top: 50%;
    }

    .elemento {
        font-size: 1.5rem;
        position: relative;
        top: 96%;
    }
}

.noMetalesReactivos {
    background-color: blue;
}

.metalesAlcalinos {
    background-color: cadetblue;
}

.metalesAlcalinoterreos {
    background-color: red;
}

.metalesTransicionales {
    background-color: blueviolet;
}

.metalesPostransicionales {
    background-color: chartreuse;
}

.metaloides {
    background-color: chocolate;
}

.gasesNobles {
    background-color: indianred;
}

.propiedadesDesconocidas {
    background-color: grey;
}

.lantanidos {
    background-color: #2563eb;
}

.actinoides {
    background-color: #f97316;
}

/* Footer */
footer {
    background-color: #2563eb;
    position: relative;
    z-index: 999;
}

/* Fin Footer */
/* Adaptar pantalla dispositivos móviles */
@media (max-width: 768px) {

    h1 {
        font-size: 3rem;
    }

    .grid {
        display: block;
    }

    .noMetalesReactivos,
    .metalesAlcalinos,
    .metalesAlcalinoterreos,
    .metalesTransicionales,
    .metalesPostransicionales,
    .metaloides,
    .gasesNobles,
    .propiedadesDesconocidas,
    .lantanidos,
    .actinoides {
        font-size: 2.5rem;
        padding: 7rem 0;
        margin-bottom: 1rem;
    }

}